.modal1 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal1.show {
    opacity: 1;
    pointer-events: visible;
}

.row {
    margin-top: 5%;
}

.abc {
    background-image: url(https://st2.depositphotos.com/1741969/5770/i/600/depositphotos_57709679-stock-photo-dark-glitter-vintage-lights-background.jpg);
    padding: 2%;
    margin: auto
}

.xyz {
    background-color: white;
    padding: 2%
}

.form-control {
    width: 80%;
    border-radius: 25px
}

.fa {
    color: white;
    margin-top: 5%
}

.in {
    color: white;
    margin-right: 100%
}

.my {
    background-color: white;
    border: none
}

.custom-control {
    margin-bottom: 2%
}

h2.account-text {
    color: #fff !important;
    font-weight: 200
}

.account-description {
    color: #fff;
    margin-bottom: 4%;
    font-weight: 200
}

#modal_div1 {
    width: 850px;
    transform: translateX(-200px);
    transition: all 0.3s ease-in-out;
}
.close {
        border-radius: 25px;
        margin-top: 2%
}
.modal1.show #modal_div1 {
    transform: translateX(0);
}

.modal1.show #modal_div2 {
    transform: translateX(0);
}

#modal_div2 {
    width: 1250px;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
    background-image: url(https://st2.depositphotos.com/1741969/5770/i/600/depositphotos_57709679-stock-photo-dark-glitter-vintage-lights-background.jpg    )
}

@media only screen and (max-width: 600px) {
    row {
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%
    }
}