@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

body {
  background-image: url("https://res.cloudinary.com/urielnaiman/image/upload/v1620808116/m-4_M8uIfPEZw-unsplash_na8ph1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.formMarg > * > * {
  margin: 5px 0 5px 0;
}

.btnAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  margin: 15px 0 0 0;
  width: 50%;
}

.formFont {
  font-family: "Noto Sans JP";
}

.resizeAvatar{
  height: auto;
  width: 300px;
}